{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        medley {:mvn/version "1.1.0"}
        com.cerner/clara-rules {:mvn/version "0.19.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {pinpointer {:mvn/version "0.1.1"}}}
  :dev {:extra-paths ["sidecar"]}}}